/* Front Page Hero Section */
.wp-block-cover {
	min-height: 100vh;
	position: relative;
}

/* custom overlay for UIUX text */
.wp-block-cover::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.page-id-2 .wp-block-cover__inner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	width: 310px;
}

.page-id-2 .wp-block-cover__inner-container > p > em {
	font-size: 1rem;
	line-height: 2;
	color: white;
}

@media (min-width: 1024px) {
	.page-id-2 .happy {
		justify-content: left;
		padding-left: 6%;
	}

	.page-id-2 .wp-block-cover__inner-container {
		width: 450px;
		align-items: flex-start;
	}

	.wp-block-cover::before {
		width: 50%;
	}
}

@media (min-width: 1750px) {
	.page-id-2 .happy {
		justify-content: left;
		padding-left: 8%;
	}

	.page-id-2 .wp-block-cover__inner-container {
		width: 700px;
		align-items: flex-start;
	}
}

.wp-block-cover video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.wp-block-cover__inner-container {
	z-index: 2;
	position: relative;
}

.wp-block-columns {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.wp-block-columns .wp-block-column:first-child {
	text-align: left;
	max-width: 50%;
	margin-left: 5%;
}

.wp-block-columns .wp-block-column:last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
	margin-right: 5%;
}

.wp-block-columns .wp-block-column:last-child p {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #fff;
}

/* .wp-block-buttons .wp-block-button__link {
	padding: 0.75rem 1.5rem;
	border-radius: 5px;
	background-color: #f5c518;
	color: #000;
	font-weight: bold;
} */

/* desciption text and cta section */
.front-page-content .wp-block-group.desc-section {
	background-color: #174f21;
	color: white;
	padding: 2rem 0;
}

.front-page-content .wp-block-group.desc-section .wp-block-group__inner-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 2rem;
}

.front-page-content .wp-block-group.desc-section .wp-block-group__inner-container .has-text-align-center {
	max-width: 800px;
	margin: 0 auto;
	line-height: 2;
}

/* mission section  */
.front-page-content .wp-block-group.mission-section {
	background-color: black;
	color: white;
	padding: 2rem 0;
}
.mission-a-link > a {
	color: white;
	text-decoration: none;
	transition: color 0.3s ease;
}
.mission-a-link > a:hover {
	color: grey;
}
.page-id-2 .mission-section .wp-block-group__inner-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 2rem;
}

.page-id-2 .mission-section .wp-block-group__inner-container figure {
	margin: 0 auto;
}

@media (min-width: 1024px) {
	.page-id-2 .mission-section > div:first-of-type {
		display: flex;
		flex-direction: row;
	}

	.page-id-2 .mission-section .wp-block-group__inner-container {
		gap: 2rem;
	}
	.page-id-2 .mission-section .wp-block-group {
		display: flex;
		/* flex-direction: column; */
	}
}

.page-id-2 .mission-section .wp-block-group__inner-container p {
	max-width: 800px;
	line-height: 2;
}

/* service section */
.front-page-services {
	background-image: url('../images/tree-img.png');
	height: 500px;
	background-repeat: repeat;
	background-position: center;
	padding: 60px 2rem; /* Optional: adjust spacing */
	color: #fff; /* Optional: make text readable over the image */
	margin-top: 0;
}

@media (min-width: 1440px) {
	.front-page-services {
		background-size: cover;
	}
}

.services-heading {
	margin: 0 2rem;
}

.services-cards {
	display: none;
}

@media (min-width: 1440px) {
	.services-cards {
		margin-top: 3rem;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex: 1 1 300px; /* allows cards to shrink and grow */
		gap: 1rem;
	}
}

.service-card {
	background-color: #e6e6e6ac;
	color: #000;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: transform 0.3s ease;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 300px;
}
